<div class="col-xs-8 col-xs-offset-1">
  <br>
  <br>
    <table class="table" *ngIf="prodotti.length>0">
      <thead>
        <tr>
          <th scope="col">Prodotto</th>
          <th scope="col">Categoria</th>
          <th scope="col">Prezzo</th>
          <th scope="col">Descrizione</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let prodotto of prodotti">
            <td>{{prodotto.nome}}</td>
            <td>{{prodotto.categoria}}</td>
            <td>{{prodotto.prezzo | currency : '€'}}</td>
            <td>{{prodotto.descrizione}}</td>
        </tr>
        <br><br>

      </tbody>
    </table>
  </div>


